In [7]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_excel("E:\Praxis\DV\Stadium capacity.xlsx")
df.head()

,Stadium,Capacity,Game(s),City,State
0,Aishbagh Stadium,10000,Field hockey pictogram.svg Hockey,Bhopal,Madhya Pradesh
1,Ambedkar Stadium,20000,Football pictogram.svg Football (soccer),Delhi,Delhi NCR
2,Baichung Stadium,30000,Football pictogram.svg Football (soccer),Namchi,Sikkim
3,Bakhshi Stadium,30000,Football pictogram.svg Football (soccer),Srinagar,Jammu and Kashmir
4,Barabati Stadium,45000,Cricket pictogram.svg Cricket,Cuttack,Odisha

In [12]:
df.shape

(121, 5)

In [11]:
import re

In [17]:
hockey = []
for i in range(len(df)):
    s = re.findall(r"hockey",df["Game(s)"][i])
    if "hockey" in s:
        hockey.append(i)

In [18]:
len(hockey)

10

In [19]:
hockey

[0, 20, 21, 42, 48, 49, 77, 104, 105, 119]

In [20]:
Hockey = []
for i in range(len(df)):
    if i in hockey:
        Hockey.append('Yes')
    else :
        Hockey.append('No')

In [22]:
cricket = []
for i in range(len(df)):
    s = re.findall(r"Cricket",df["Game(s)"][i])
    if "Cricket" in s:
        cricket.append(i)

In [23]:
len(cricket)

56

In [24]:
Cricket = []
for i in range(len(df)):
    if i in cricket:
        Cricket.append('Yes')
    else :
        Cricket.append('No')

In [25]:
football = []
for i in range(len(df)):
    s = re.findall(r"Football",df["Game(s)"][i])
    if "Football" in s:
        football.append(i)

In [26]:
Football = []
for i in range(len(df)):
    if i in football:
        Football.append('Yes')
    else :
        Football.append('No')

In [27]:
athletics = []
for i in range(len(df)):
    s = re.findall(r"Athletics",df["Game(s)"][i])
    if "Athletics" in s:
        athletics.append(i)

In [28]:
Athletics = []
for i in range(len(df)):
    if i in athletics:
        Athletics.append('Yes')
    else :
        Athletics.append('No')

In [29]:
len(athletics)

12

In [30]:
df['Hockey'] = Hockey
df['Cricket'] = Cricket
df['Football'] = Football
df['Athletics'] = Athletics

In [31]:
df.head()

,Stadium,Capacity,Game(s),City,State,Hockey,Cricket,Football,Athletics
0,Aishbagh Stadium,10000,Field hockey pictogram.svg Hockey,Bhopal,Madhya Pradesh,Yes,No,No,No
1,Ambedkar Stadium,20000,Football pictogram.svg Football (soccer),Delhi,Delhi NCR,No,No,Yes,No
2,Baichung Stadium,30000,Football pictogram.svg Football (soccer),Namchi,Sikkim,No,No,Yes,No
3,Bakhshi Stadium,30000,Football pictogram.svg Football (soccer),Srinagar,Jammu and Kashmir,No,No,Yes,No
4,Barabati Stadium,45000,Cricket pictogram.svg Cricket,Cuttack,Odisha,No,Yes,No,No

In [32]:
df2 = df.drop(['Game(s)'],1)

In [33]:
df2.head()

,Stadium,Capacity,City,State,Hockey,Cricket,Football,Athletics
0,Aishbagh Stadium,10000,Bhopal,Madhya Pradesh,Yes,No,No,No
1,Ambedkar Stadium,20000,Delhi,Delhi NCR,No,No,Yes,No
2,Baichung Stadium,30000,Namchi,Sikkim,No,No,Yes,No
3,Bakhshi Stadium,30000,Srinagar,Jammu and Kashmir,No,No,Yes,No
4,Barabati Stadium,45000,Cuttack,Odisha,No,Yes,No,No

In [37]:
search = []
for i in range(len(df2)):
    a = df2['City'][i]
    b = a + ' coordinates'
    search.append(b)

In [39]:
df2['search'] = search

In [40]:
df2.head()

,Stadium,Capacity,City,State,Hockey,Cricket,Football,Athletics,search
0,Aishbagh Stadium,10000,Bhopal,Madhya Pradesh,Yes,No,No,No,Bhopal coordinates
1,Ambedkar Stadium,20000,Delhi,Delhi NCR,No,No,Yes,No,Delhi coordinates
2,Baichung Stadium,30000,Namchi,Sikkim,No,No,Yes,No,Namchi coordinates
3,Bakhshi Stadium,30000,Srinagar,Jammu and Kashmir,No,No,Yes,No,Srinagar coordinates
4,Barabati Stadium,45000,Cuttack,Odisha,No,Yes,No,No,Cuttack coordinates

In [41]:
!pip install selenium

Collecting selenium
  Downloading https://files.pythonhosted.org/packages/b0/c9/52390baa8d6b65c3e3b89f522c3a0fcf58f2b4faf37893ef9d97cddde699/selenium-3.14.1-py2.py3-none-any.whl (902kB)
Requirement already satisfied: urllib3 in c:\users\umang\anaconda3\lib\site-packages (from selenium) (1.22)
Installing collected packages: selenium
Successfully installed selenium-3.14.1

You are using pip version 18.0, however version 18.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [42]:
from selenium import webdriver

In [46]:
from selenium.webdriver.common.keys import Keys

In [43]:
dic = {}
dic=df2['search'].value_counts()

In [48]:
lat = []
lon = []
s = []
pin = {}
driver = webdriver.Chrome("C:\\Users\\Umang\\Downloads\\Soft\\chromebook\\chromedriver.exe")
for i in dic.keys():
    driver.get("http://www.google.com")
    elem = driver.find_element_by_xpath('//*[@id="lst-ib"]')
    elem.clear()
    elem.send_keys(i)
    elem.send_keys(Keys.RETURN)
    
    try:
        a = driver.find_element_by_xpath("/html/body/div[7]/div[3]/div[10]/div[1]/div[2]/div/div[2]/div[2]/div/div/div/div[1]/div/div[1]/div/div[1]/div[2]/div[2]/div/div[1]/div/div/div[1]").text
    except:
        a="Not Found"
    pin[i]=a
driver.quit()

In [49]:
len(pin)

82

In [51]:
pin

{'Kolkata coordinates': '22.5726° N, 88.3639° E',
 'Delhi coordinates': '28.7041° N, 77.1025° E',
 'Lucknow coordinates': '26.8467° N, 80.9462° E',
 'Bhubaneswar coordinates': '20.2961° N, 85.8245° E',
 'Hyderabad coordinates': '17.3850° N, 78.4867° E',
 'Ranchi coordinates': '23.3441° N, 85.3096° E',
 'Guwahati coordinates': '26.1445° N, 91.7362° E',
 'Kochi coordinates': '9.9312° N, 76.2673° E',
 'Bengaluru coordinates': '12.9716° N, 77.5946° E',
 'Chandigarh coordinates': '30.7333° N, 76.7794° E',
 'Kozhikode coordinates': '11.2588° N, 75.7804° E',
 'Rajkot coordinates': '22.3039° N, 70.8022° E',
 'Thiruvananthapuram coordinates': '8.5241° N, 76.9366° E',
 'Jamshedpur coordinates': '22.8046° N, 86.2029° E',
 'Ahmedabad coordinates': '23.0225° N, 72.5714° E',
 'Indore coordinates': '22.7196° N, 75.8577° E',
 'Baroda coordinates': '22.3072° N, 73.1812° E',
 'Bhopal coordinates': '23.2599° N, 77.4126° E',
 'Chennai coordinates': '13.0827° N, 80.2707° E',
 'Patna coordinates': '25.5941° N, 85.1376° E',
 'Cuttack coordinates': '20.4625° N, 85.8830° E',
 'Nanded coordinates': 'Not Found',
 'Ludhiana coordinates': '30.9010° N, 75.8573° E',
 'Sangrur coordinates': 'Not Found',
 'Mohali coordinates': '30.7046° N, 76.7179° E',
 'Dimapur coordinates': '25.8630° N, 93.7537° E',
 'Imphal coordinates': 'Not Found',
 'Gurgaon coordinates': '28.4595° N, 77.0266° E',
 'Kalimpong coordinates': '27.0594° N, 88.4695° E',
 'Jabalpur coordinates': '23.1815° N, 79.9864° E',
 'Jaipur coordinates': '26.9124° N, 75.7873° E',
 'Silchar coordinates': '24.8333° N, 92.7789° E',
 'Sambalpur coordinates': '21.4669° N, 83.9812° E',
 'Visakhapatnam coordinates': '17.6868° N, 83.2185° E',
 'Navi Mumbai coordinates': '19.0330° N, 73.0297° E',
 'Kadapa coordinates': '14.4674° N, 78.8241° E',
 'Jorethang coordinates': '27.1317° N, 88.2796° E',
 'Siwan coordinates': 'Not Found',
 'Kanpur coordinates': '26.4499° N, 80.3319° E',
 'Mumbai coordinates': '19.0760° N, 72.8777° E',
 'Dharamshala coordinates': '32.2190° N, 76.3234° E',
 'Thane coordinates': '19.2183° N, 72.9781° E',
 'Coimbatore coordinates': '11.0168° N, 76.9558° E',
 'Neemuch coordinates': 'Not Found',
 'Gangtok coordinates': '27.3389° N, 88.6065° E',
 'Vasco da Gama coordinates': '15.3860° N, 73.8440° E',
 'Greater Noida coordinates': 'Not Found',
 'Mandya coordinates': '12.5222° N, 76.9009° E',
 'Saifai coordinates': 'Not Found',
 'Pune coordinates': '18.5204° N, 73.8567° E',
 'Madurai coordinates': '9.9252° N, 78.1198° E',
 'Siliguri coordinates': '26.7271° N, 88.3953° E',
 'Raipur coordinates': '21.2514° N, 81.6296° E',
 'Dehradun coordinates': '30.3165° N, 78.0322° E',
 'Rajnandgaon coordinates': '21.0971° N, 81.0302° E',
 'Kollam coordinates': '8.8932° N, 76.6141° E',
 'Ajitgarh coordinates': 'Not Found',
 'Thrissur coordinates': '10.5276° N, 76.2144° E',
 'Gwalior coordinates': '26.2183° N, 78.1828° E',
 'Namchi coordinates': '27.1670° N, 88.3652° E',
 'Agartala coordinates': '23.8315° N, 91.2868° E',
 'Varanasi coordinates': '25.3176° N, 82.9739° E',
 'Surat coordinates': '21.1702° N, 72.8311° E',
 'Margao coordinates': '15.2832° N, 73.9862° E',
 'Solapur coordinates': '17.6599° N, 75.9064° E',
 'Rohtak coordinates': '28.8955° N, 76.6066° E',
 'Hisar coordinates': '29.1492° N, 75.7217° E',
 'Gahunje,\xa0Pune district coordinates': '18.6675° N, 73.7022° E',
 'Nagpur coordinates': '21.1458° N, 79.0882° E',
 'Sri Nagar coordinates': 'Not Found',
 'Srinagar coordinates': 'Not Found',
 'Panaji coordinates': '15.4909° N, 73.8278° E',
 'Mangalore coordinates': '12.9141° N, 74.8560° E',
 'Jodhpur coordinates': '26.2389° N, 73.0243° E',
 'Jalandhar coordinates': '31.3260° N, 75.5762° E',
 'Gudivada coordinates': 'Not Found',
 'Udaipur coordinates': '24.5854° N, 73.7125° E',
 'Palakkad coordinates': '10.7867° N, 76.6548° E',
 'Mysore coordinates': '12.2958° N, 76.6394° E',
 'Patiala coordinates': '30.3398° N, 76.3869° E',
 'Hoshiarpur coordinates': '31.5143° N, 75.9115° E',
 'KapurthalaU coordinates': '31.3715° N, 75.3937° E'}

In [52]:
df2['coordinates'] = df2['search'].map(pin)

In [53]:
df2.head()

,Stadium,Capacity,City,State,Hockey,Cricket,Football,Athletics,search,coordinates
0,Aishbagh Stadium,10000,Bhopal,Madhya Pradesh,Yes,No,No,No,Bhopal coordinates,"23.2599° N, 77.4126° E"
1,Ambedkar Stadium,20000,Delhi,Delhi NCR,No,No,Yes,No,Delhi coordinates,"28.7041° N, 77.1025° E"
2,Baichung Stadium,30000,Namchi,Sikkim,No,No,Yes,No,Namchi coordinates,"27.1670° N, 88.3652° E"
3,Bakhshi Stadium,30000,Srinagar,Jammu and Kashmir,No,No,Yes,No,Srinagar coordinates,Not Found
4,Barabati Stadium,45000,Cuttack,Odisha,No,Yes,No,No,Cuttack coordinates,"20.4625° N, 85.8830° E"

In [56]:
df2.loc[df2['coordinates']=='Not Found',:]

,Stadium,Capacity,City,State,Hockey,Cricket,Football,Athletics,search,coordinates
3,Bakhshi Stadium,30000,Srinagar,Jammu and Kashmir,No,No,Yes,No,Srinagar coordinates,Not Found
10,Buddh International Circuit,120000,Greater Noida,Uttar Pradesh,No,No,No,No,Greater Noida coordinates,Not Found
24,Dr. Rajendra Prasad Football Stadium,10000,Neemuch,Madhya Pradesh,No,No,Yes,No,Neemuch coordinates,Not Found
39,Guru Gobind Singh Stadium,30000,Nanded,Maharashtra,No,Yes,No,No,Nanded coordinates,Not Found
49,International Hockey Stadium,13648,Ajitgarh,Punjab,Yes,No,No,No,Ajitgarh coordinates,Not Found
65,Khuman Lampak Main Stadium,30000,Imphal,Manipur,No,No,Yes,No,Imphal coordinates,Not Found
88,NTR Stadium,20000,Gudivada,multi-purpose stadium,No,No,No,No,Gudivada coordinates,Not Found
93,Rajendra Stadium,15000,Siwan,Bihar,No,No,Yes,No,Siwan coordinates,Not Found
98,Saifai International Cricket Stadium,43000,Saifai,Uttar Pradesh,No,Yes,No,No,Saifai coordinates,Not Found
107,Sher-i-Kashmir Stadium,12000,Sri Nagar,Jammu and Kashmir,No,Yes,No,No,Sri Nagar coordinates,Not Found
119,War Heroes Stadium,30000,Sangrur,Punjab,Yes,No,No,No,Sangrur coordinates,Not Found

In [58]:
df2.loc[3,'coordinates'] = '34.083656, 74.797371'

In [75]:
df2.loc[10,'coordinates'] = '28.4744, 77.5040'
df2.loc[24,'coordinates'] = '24.4764, 78.8624'
df2.loc[39,'coordinates'] = '19.1383, 77.3210'
df2.loc[49,'coordinates'] = '27.4209, 75.8182'
df2.loc[65,'coordinates'] = '24.8170, 93.9368'
df2.loc[88,'coordinates'] = '16.4410, 80.9926'
df2.loc[93,'coordinates'] = '26.2196, 84.3567'
df2.loc[98,'coordinates'] = '26.9569, 78.9684'
df2.loc[107,'coordinates'] = '34.083656, 74.797371'
df2.loc[119,'coordinates'] = '30.2458, 75.8421'

In [59]:
a = df2.loc[1,'coordinates']

In [60]:
a

'28.7041° N, 77.1025° E'

In [61]:
import re

In [68]:
b = re.findall(r"[0-9]+[.][0-9]+",a)

In [69]:
b

['28.7041', '77.1025']

In [71]:
c = '34.083656, 74.797371'

In [72]:
b = re.findall(r"[0-9]+[.][0-9]+",c)

In [73]:
b

['34.083656', '74.797371']

In [77]:
for i in range(len(df2)):
    a = re.findall(r"[0-9]+[.][0-9]+",df2['coordinates'][i])
    lat.append(a[0])
    lon.append(a[1])

In [78]:
len(lat)

121

In [79]:
len(lon)

121

In [81]:
df2['lat'] = lat
df2['lon'] = lon

In [82]:
df2.head()

,Stadium,Capacity,City,State,Hockey,Cricket,Football,Athletics,search,coordinates,lat,lon
0,Aishbagh Stadium,10000,Bhopal,Madhya Pradesh,Yes,No,No,No,Bhopal coordinates,"23.2599° N, 77.4126° E",23.2599,77.4126
1,Ambedkar Stadium,20000,Delhi,Delhi NCR,No,No,Yes,No,Delhi coordinates,"28.7041° N, 77.1025° E",28.7041,77.1025
2,Baichung Stadium,30000,Namchi,Sikkim,No,No,Yes,No,Namchi coordinates,"27.1670° N, 88.3652° E",27.1670,88.3652
3,Bakhshi Stadium,30000,Srinagar,Jammu and Kashmir,No,No,Yes,No,Srinagar coordinates,"34.083656, 74.797371",34.083656,74.797371
4,Barabati Stadium,45000,Cuttack,Odisha,No,Yes,No,No,Cuttack coordinates,"20.4625° N, 85.8830° E",20.4625,85.8830

In [83]:
df3 = df2.drop(['search','coordinates'],1)
df3.head()

,Stadium,Capacity,City,State,Hockey,Cricket,Football,Athletics,lat,lon
0,Aishbagh Stadium,10000,Bhopal,Madhya Pradesh,Yes,No,No,No,23.2599,77.4126
1,Ambedkar Stadium,20000,Delhi,Delhi NCR,No,No,Yes,No,28.7041,77.1025
2,Baichung Stadium,30000,Namchi,Sikkim,No,No,Yes,No,27.1670,88.3652
3,Bakhshi Stadium,30000,Srinagar,Jammu and Kashmir,No,No,Yes,No,34.083656,74.797371
4,Barabati Stadium,45000,Cuttack,Odisha,No,Yes,No,No,20.4625,85.8830

In [88]:
df3['lat'] = df3['lat'].astype('float')

In [89]:
df3['lon'] = df3['lon'].astype('float')

In [90]:
df3.dtypes

Stadium       object
Capacity       int64
City          object
State         object
Hockey        object
Cricket       object
Football      object
Athletics     object
lat          float64
lon          float64
dtype: object

In [91]:
df3.to_csv('stadium.csv')